<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huynguyen's Hacker Challenge Project</title>
    <link rel="stylesheet" href="../static/style/home/home.css">
    <link rel="stylesheet" href="../static/style/aichat/aichat.css">
    <script src="../static/style/aichat/aichat.js" defer></script>
    <script src="https://kit.fontawesome.com/698ce0c806.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/about/about.css">
</head>
<body>
    <header href="#" class="logo">
        <a href="#" class="logo">Huynguyen's Ai Chat</a>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#chatai">ChatAi</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </header>
    <section id="home">
        <h2 class="text">Một cách mạng khoa học mới - AI</h2>
        <p class="childtext">Dự án này là một sản phẩm tích hợp AI vào đời sống thông qua xử lý ngôn ngữ tự nhiên</p>
        <div class="more">
            <p class="text_more">Xem thêm</p>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
    </section>
    <section id="chatai">
        <div class="chatbot">
            <header>
                <h2>Chatbot for Hacker Challenge</h2>
            </header>
                <ul class="chatbox">
                    <li class="chat incoming">
                        <i class="fa-solid fa-robot"></i>
                        <p>Xin chào, rất vui được gặp bạn<br>Tôi là chat robot được tạo ra để phục vụ cuộc thi Hackathon tổ chức bởi Steam for Vietnam</p>
                    </li>
                    
                </ul>

        </div>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <i class="fa-regular fa-paper-plane"></i>
        </div>
    </section>
    <section id="about">
        <div class="main">
            <img src="../static/style/about/296957298_1057553735121761_8326859492521971911_n.jpg" alt="abou-me-picture">
        <div class="about-text">
            <h1>About me</h1>
            <h5>Developer <span>& Designer</span></h5>
            <p>Em là Nguyễn Nhật Huy, là một developer nghiệp dư đang tự mày mò làm web. Năm nay em 17 tuổi và em làm project này để hoàn thành challenge do chương trình hackathon đề ra.</p>
            <div class="contact">
                <a href="https://www.facebook.com/HuyJamesGamingg"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="mailto:nguyenhuy07032006@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://github.com/Huynguyen736"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
    </section>
</body>
</html>